<div>
        <img src="assets/images/blackfencewithcompname.png" alt="Photo of blackfencewithcompanyname" style="height: auto; width: 100%;">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Frequently Asked Questions!
                </mat-card-title>
                <mat-card-subtitle>
                    If you don't see your question feel free to give us a call!
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            How long have you been in business?
        </mat-card-title>
        <mat-card-content>
            Over 40 years! Stephen Lively and his family have a long history of providing quality fencing services.
        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            What services do you offer?
        </mat-card-title>
        <mat-card-content>
            We specialize in fencing installation and repair, but we also offer a variety of other services including grading, retaining walls, fence painting, and barn building.        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            What areas do you serve?
        </mat-card-title>
        <mat-card-content>
            We are happy to serve the Forsyth County, Dawson County and Lumkin County and surrounding communities. We are willing to drive outside these areas for jobs too!!       </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            How do you approach pricing?
        </mat-card-title>
        <mat-card-content>
            Stephen is committed to fair and honest pricing. He will work with you to find the best solution that fits your budget.        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            How can I get a free quote?
        </mat-card-title>
        <mat-card-content>
            You can contact Stephen directly at 404-274-4521 to discuss your project and schedule a free consultation.       
         </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            Do I need to know exactly what I want before I contact you?
        </mat-card-title>
        <mat-card-content>
            No worries! Stephen can help you explore your options and recommend the best fencing solution for your needs.
        </mat-card-content>
        </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            Let's Work Together!
        </mat-card-title>
        <mat-card-content>
            We appreciate your interest in Lively Fencing! If you have any further questions, please don't hesitate to contact us. We look forward to working with you on your next fencing project.
        </mat-card-content>   
        </mat-card>
</div>
