<mat-toolbar>
  <button mat-icon-button aria-label="Menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/companyname.png" alt="Photo of the Lively Fencing Company" style="height: auto; width: 20%; border: 2px; border-color: white;" [hidden]="isSmallScreen()" [routerLink]="['']" class="toPointer">
  <div class="spacer"></div>
  <div class="quick-navigation">
    @if (!isSmallScreen()) {
<!--      <button mat-raised-button color="primary" [routerLink]="['/Services']">Services</button>-->
<!--      <button mat-raised-button color="primary" [routerLink]="['/Projects']">Projects</button>-->
      <button mat-raised-button color="primary" [routerLink]="['/About-Us']">About Us</button>
      <button mat-raised-button color="primary" [routerLink]="['/FAQ']">FAQ</button>
    }
    <button class="phone-icon" mat-icon-button matTooltip="Contact" [routerLink]="['/Contact-Us']">
      <mat-icon>phone</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="isSmallScreen()">
  <mat-sidenav #sidenav [mode]="isSmallScreen() ? 'over' : 'side'" [fixedInViewport]="isSmallScreen()">
    <mat-nav-list (click)="isSmallScreen() ? sidenav.close() : null">
       <a mat-list-item routerLinkActive="selected" [routerLink]="['']">Home</a>
<!--       <a mat-list-item routerLinkActive="selected" [routerLink]="['/Services']">Services</a>-->
<!--       <a mat-list-item routerLinkActive="selected" [routerLink]="['/Projects']">Projects</a>-->
       <a mat-list-item routerLinkActive="selected" [routerLink]="['/About-Us']">About Us</a>
       <a mat-list-item routerLinkActive="selected" [routerLink]="['/FAQ']">FAQ</a>
    </mat-nav-list>
    <button class="phone-icon" mat-icon-button matTooltip="Contact" [routerLink]="['/Contact-Us']"><mat-icon>phone</mat-icon></button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
@if (isSmallScreen()) {
  <mat-toolbar class="footer">

    <div class="nav-button">
      <button mat-icon-button color="primary" [routerLink]="['']">
        <mat-icon>home</mat-icon>
      </button>
      <span>Home</span>
    </div>
<!--    <div class="nav-button">-->
<!--      <button mat-icon-button color="primary" [routerLink]="['/Services']">-->
<!--        <mat-icon>fence</mat-icon>-->
<!--      </button>-->
<!--      <span>Services</span>-->
<!--    </div>-->
<!--    <div class="nav-button">-->
<!--      <button mat-icon-button color="primary" [routerLink]="['/Projects']">-->
<!--        <mat-icon>home_repair_service</mat-icon>-->
<!--      </button>-->
<!--      <span>Projects</span>-->
<!--    </div>-->
    <div class="nav-button">
      <button mat-icon-button color="primary" [routerLink]="['/About-Us']">
        <mat-icon>info</mat-icon>
      </button>
      <span>About Us</span>
    </div>
    <div class="nav-button">
      <button mat-icon-button color="primary" [routerLink]="['/FAQ']">
        <mat-icon>help</mat-icon>
      </button>
      <span>FAQ</span>
    </div>
    <div class="nav-button">
      <button mat-icon-button color="primary" [routerLink]="['/Contact-Us']">
        <mat-icon>phone</mat-icon>
      </button>
      <span>Contact Us</span>
    </div>
  </mat-toolbar>
}
