:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  mat-sidenav-container {
    height: 100%;
  }

  mat-sidenav {
    min-width: 250px;
  }
  ::ng-deep .mat-drawer-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  mat-toolbar {
    display: flex;
    gap: 1rem;
    overflow: hidden;

    .logo {
      display: grid;
      place-content: center;
      cursor: pointer;
      img {
        width: 38px;
        height: 38px;
      }
    }
    .quick-navigation {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .toPointer {
      cursor: pointer;
    }
  }
  .spacer {
    flex: 1 1 auto;
  }
}
