<mat-toolbar>
  <button mat-icon-button aria-label="Menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 [routerLink]="['']" class="toPointer">Lively Fencing</h1>
  <div class="logo">
    <img src="assets/logo-small.png" [routerLink]="['']">
  </div>
  <div class="spacer"></div>
  <div class="quick-navigation">
    <button mat-raised-button [routerLink]="['/Services']">Services</button>
    <button mat-raised-button [routerLink]="['/Projects']">Projects</button>
    <button mat-raised-button [routerLink]="['/About-Us']">About Us</button>
    <button class="phone-icon" mat-icon-button matTooltip="Contact" [routerLink]="['/Contact-Us']">
      <mat-icon>phone</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="isSmallScreen()">
  <mat-sidenav #sidenav [mode]="isSmallScreen() ? 'over' : 'side'" [fixedInViewport]="isSmallScreen()">
    <mat-nav-list (click)="isSmallScreen() ? sidenav.close() : null">
       <a mat-list-item routerLinkActive="selected" [routerLink]="['']">Home</a>
       <a mat-list-item routerLinkActive="selected" [routerLink]="['/Services']">Services</a>
       <a mat-list-item routerLinkActive="selected" [routerLink]="['/Projects']">Projects</a>
       <a mat-list-item routerLinkActive="selected" [routerLink]="['/About-Us']">About Us</a>
       <a mat-list-item routerLinkActive="selected" [routerLink]="['/FAQ']">FAQ</a>
    </mat-nav-list>
    <button class="phone-icon" mat-icon-button matTooltip="Contact" [routerLink]="['/Contact-Us']"><mat-icon>phone</mat-icon></button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
