:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  mat-sidenav-container {
    height: 100%;
  }

  mat-sidenav {
    min-width: 250px;
  }

  mat-toolbar {
    display: flex;
    gap: 1rem;

    .logo {
      display: grid;
      place-content: center;
      img {
        width: 50px;
        height: 50px;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    .quick-navigation {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
