@if (success()) {
<mat-card>
  <mat-card-header>
    <mat-card-title>Thank you!</mat-card-title>
  </mat-card-header>
  <mat-card-content>We will reach out to you shortly.</mat-card-content>
</mat-card>
} @else {
<mat-card>
  <mat-card-header>
    <mat-card-title>Request a Quote</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput #nameForm="ngModel" [(ngModel)]="name" autocomplete="name" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input type="text" #phoneForm="ngModel" matInput [(ngModel)]="phone" autocomplete="tel" required
        shownMaskExpression="'(___) ___-____'" mask="(000) 000-0000" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" [formControl]="emailControl" matInput autocomplete="email" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Service(s)</mat-label>
      <mat-select [(ngModel)]="selectedServices" [multiple]="true" required #serviceForm="ngModel">
        @for (service of services; track service) {
        <mat-option [value]="service">{{ service }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Details (Optional)</mat-label>
      <textarea matInput placeholder="Please provide us with any additional details"
        [(ngModel)]="description"></textarea>
    </mat-form-field>
    <mat-card-actions align="end">
      @if (nameForm.hasError('required') || phoneForm.hasError('mask') || phoneForm.hasError('required') ||
      emailControl.invalid || serviceForm.hasError('required')) {<button mat-raised-button color="primary"
        (click)="submit()" disabled>Submit</button>}
      @else {<button mat-raised-button color="primary" (click)="submit()">Submit</button>}
    </mat-card-actions>
  </mat-card-content>
</mat-card>
}