:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.mat-mdc-card {
  width: 40%;

  [mat-card-image] {
    max-height: 660px;
    object-fit: cover;
  }
}

@media screen and (max-width: 600px) {
  :host {
    width: 100%;
    padding: 1rem;

    .mat-mdc-card {
      width: 100%;

      [mat-card-image] {
        max-height: 85vw;
        object-fit: cover;
      }
    }
  }
}
