<div>
  <mat-card>
    <img src="assets/images/blackfencewithcompname.png" alt="Photo of blackfencewithcompanyname" style="height: auto; width: 100%;">
    <mat-card-header>
      <mat-card-title>Welcome to Lively Fencing</mat-card-title>
      <mat-card-subtitle>Your one-stop shop for top-quality fencing solutions.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-header>Whether you're looking to enhance your privacy, improve security, or simply define your property line, we're here to help. We offer a wide variety of fence styles, materials, and expert installation services to meet your unique needs and budget.</mat-card-header>
      <mat-card-header>Here's what you can expect at Lively Fencing: 
        <br>Wide range of fencing options: From classic wood and vinyl to modern metal and privacy fences, we have something to complement every style and property.
        <br>Experienced and professional team: Our team of qualified fence installers takes pride in their craftsmanship and ensures every fence is built to last.
        <br>Free consultations and estimates: We'll work with you to understand your vision and provide a free, no-obligation consultation and estimate.
        <br>Exceptional customer service: We're committed to exceeding your expectations, from start to finish.
        <br>
        <br>
      </mat-card-header>
      </mat-card-content>
     <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ready to get started?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Browse our gallery, explore our services, or request a free quote today. We look forward to helping you create the perfect fence for your home or business.</p>
        </mat-card-content>
        <mat-card-actions style="justify-content: center;">
          <button [routerLink]="['/Contact-Us']" mat-raised-button color="primary">Request a Quote!</button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
    <img src="assets/images/blackfencebottem.png" alt="Photo of blackfencebottem" style="height: auto; width: 100%;">
  </mat-card>
</div>
<section>
  <mat-card class="fencing-card-1">
    <mat-card-header>
      <mat-card-title>Agricultural Fencing</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/IMG_5978.png" alt="Photo of Agricultural Fencing">
    <mat-card-content>
      <p>Placeholder content</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Previous</button>
      <button mat-button>Next</button>
    </mat-card-actions>
  </mat-card>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section>
  <mat-card class="fencing-card-1">
    <mat-card-header>
      <mat-card-title>Residential Fencing</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/IMG_5984.png" alt="Photo of Residential Fencing">
    <mat-card-content>
      Placeholder Content
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Previous</button>
      <button mat-button>Next</button>
    </mat-card-actions>
  </mat-card>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
</section>
<section>
  <mat-card class="fencing-card-1">
    <mat-card-header>
      <mat-card-title>Barn Construction</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/IMG_5967.png" alt="Photo of Mostly Constructed Barn">
    <mat-card-content>
      Placeholder Content
    </mat-card-content>
  </mat-card>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<footer>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Not looking for a fence?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Check out our other services!</p>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/Services']" mat-raised-button color="primary">Services</button>
    </mat-card-actions>
  </mat-card>
</footer>
