





<p>Hi everyone! 
    It would mean a lot if you would take a second to look over this.
    My dad and our family have been in the fencing business for over 40 years. They are currently, and always, looking for business. Every job he’s gotten has been through word of mouth, but recently a lot of his clients have been telling him to also make a post on focus on forsyth to hopefully get even more jobs. 
    So I thought I would come on here and just tell you a little bit about his company and post some example pictures as well. 
    He has always taken pride in every single job that he does, and if something were to get messed up, or not end up exactly how you would like, he makes sure it is fixed before asking for payment. 
    He is very honest and reliable. He loves what he does and as I said, takes a ton of pride in everything. He also does not overcharge and will work his best to give you the most fair price possible. He’s very compassionate and caring toward others. 
    Not only do they do fencing- they do grading, retaining walls, fence painting, and build barns as well. ( pictures posted ) 
    All of this, and more, is why I truly think he’s the best in the business. You should check him out. Even if you just know somebody who might be interested in any of his services, we would greatly appreciate you spreading the word!!! 
    His number - Stephen Lively: 404-274-4521
    Thank you, have a great day!</p>
