<mat-card>
  <mat-card-header>
      <mat-card-title>
        Lively Fencing: Your Fencing Experts
      </mat-card-title>
    <mat-card-subtitle>
      About Us
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Family Owned, Quality Driven
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        For over 40 years, Stephen Lively and his family have been proudly serving the community with exceptional fencing
        services. We are a family-run business built on a foundation of honesty, reliability, and a genuine passion for
        quality craftsmanship.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          More Than Just Fences
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        While our expertise lies in fence installation and repair, we offer a comprehensive range of services to meet your
        outdoor needs. From initial grading and retaining wall construction to fence painting and even barn building, we're
        your one-stop shop for creating beautiful and functional outdoor spaces.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Integrity and Commitment
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        We take immense pride in every project we undertake. Our commitment to excellence means we never settle for anything
        less than your complete satisfaction. We listen attentively to your needs, provide honest and upfront pricing, and
        ensure the job is done right the first time.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Customer Satisfaction is Our Priority
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Our reputation is built on word-of-mouth recommendations, and that means exceeding your expectations is our top
        priority. We treat every customer with respect and understanding, and we're always happy to go the extra mile to
        ensure your complete satisfaction.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Contact Us Today
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Ready to discuss your fencing project or explore our other services? We'd love to hear from you! Contact Stephen
        Lively directly at 678-310-4196 to schedule a free consultation and experience the difference quality and commitment
        can make.<br><br>
      </mat-card-content>
    </mat-card>


  </mat-card-content>
</mat-card>
