<main>
  <mat-card>
    <mat-card-header style="display: flex; align-items: center; padding: 1rem; gap: 1rem;">
      <mat-card-title>
        Here is a couple of our projects!
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card-content>
    @for (carousel of carousels(); track carousel.title) {
      <section>
        <mat-card class="mat-mdc-card">
          <mat-card-title>
            <p>
              {{ carousel.title }}
            </p>
          </mat-card-title>
          @if (carousel.imageIds) {
            <ng-image-slider #nav
                             [lazyLoading]='true'
                             [images]="carousel | carouselImages"
                             [infinite]="true"
                             [animationSpeed]=".2"
                             [imageSize]="{width: '100%', height: '350px'}"></ng-image-slider>
          } @else {
            <mat-spinner></mat-spinner>
          }
        </mat-card>
      </section>
    }
  </mat-card-content>
</main>

