<section>
    <mat-card class="fencing-card-1">
      <mat-card-header>
        <mat-card-title>Agricultural Fencing</mat-card-title>
        <mat-card-subtitle>Secure your land and investment with agricultural fencing solutions</mat-card-subtitle>
      </mat-card-header>
      @defer (prefetch on immediate) {
        <img mat-card-image src="assets/images/IMG_5978.jpg" alt="Photo of Agricultural Fencing">
      }
      <mat-card-content>
        <p>Here at Lively Fencing, We understand the importance of protecting your agricultural investment. Whether you're raising livestock, cultivating crops, or simply safeguarding your property line, we have the expertise and experience to design and install a secure and durable fence that meets your specific needs.</p>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <mat-card class="fencing-card-1">
      <mat-card-header>
        <mat-card-title>Residential Fencing</mat-card-title>
        <mat-card-subtitle>Elevate Your Backyard with Residential Fencing Solutions</mat-card-subtitle>
      </mat-card-header>
      @defer (prefetch on immediate) {
        <img mat-card-image src="assets/images/IMG_5984.jpg" alt="Photo of Residential Fencing">
      }
      <mat-card-content>
        <p>At Lively, we understand the desire to create a beautiful and functional outdoor space for your home. Whether you're seeking privacy, security, or simply enhancing the curb appeal of your property, we offer a wide variety of residential fencing options to meet your unique needs.</p>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <mat-card class="fencing-card-1">
      <mat-card-header>
        <mat-card-title>General Construction</mat-card-title>
        <mat-card-subtitle>Master Your Small Construction Needs with Confidence</mat-card-subtitle>
      </mat-card-header>
      @defer (prefetch on immediate) {
        <img mat-card-image src="assets/images/IMG_5967.jpg" alt="Photo of Mostly Constructed Barn">
      }
      <mat-card-content>
        <p>At Lively Fencing, we understand that even the "miscellaneous" construction projects on your list deserve quality service and expert execution. Whether you're tackling a small shed/barn renovation, grading your land, or adding a finishing touch to your landscaping, we offer a comprehensive range of miscellaneous construction services to bring your vision to life.</p>
      </mat-card-content>
    </mat-card>
  </section>