<mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
            Empowering Your Property!
        </mat-card-title>
        <mat-card-subtitle>
            We offer a comprehensive range of services to enhance and maintain your property, from the ground up        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Fence Construction  
            </mat-card-title>
            <mat-card-subtitle>
            Security and Style
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            A well-built fence adds privacy, security, and a touch of elegance to your property. We offer a variety of fence styles and materials to suit your needs and budget.        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Grading
          </mat-card-title>
          <mat-card-subtitle>
            Level Up Your Landscape
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Uneven ground can be unsightly and impractical. Our skilled team uses advanced equipment to precisely grade your land, ensuring proper drainage and a beautiful foundation for any future projects.
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Fence Painting
          </mat-card-title>
          <mat-card-subtitle>
            Revitalize and Protect
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            A fresh coat of paint can breathe new life into your fence, extending its lifespan and enhancing your property's curb appeal. We offer a variety of long-lasting paint options to keep your fence looking its best.
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Barn/Shed Construction
          </mat-card-title>
          <mat-card-subtitle>
            Creating Space and Functionality
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Whether you need extra storage for equipment, tools, or animals, our team can design and build a custom barn or shed to perfectly suit your needs.
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Bobcat Operations
          </mat-card-title>
          <mat-card-subtitle>
            Mastering Tough Tasks
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              Land clearing
            </li>
            <li>
              Excavation
            </li>
          </ul>
            <p>Our Bobcat operators are experts in handling a variety of landscaping and construction projects. From clearing brush and debris to leveling land and hauling materials, we can tackle the toughest jobs efficiently.</p>
          </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Contact us today for a free consultation!
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            We'll discuss your vision and recommend the perfect services to bring your property to life.
        </mat-card-content>
      </mat-card>
  
    </mat-card-content>
  </mat-card>
  